body {
  background-color: #e6e8e6;
  background-image: url("/imagini/background.png");
}

.container {
  border-radius: 15px;
  padding: 20px 10px;
  background-color: #e6e8e6;
  width: 35%;
  border: 3px solid #4169e1;
  -webkit-box-shadow: -5px 5px 15px 5px rgba(25, 25, 25, 0.6);
  box-shadow: -5px 5px 15px 5px rgba(25, 25, 25, 0.6);
  margin-top: 20px;
}

.btn-finalizare {
  background-color: #4169e1;
  border: 3px solid #4169e1;
}

.row {
  margin-left: 0;
}

.list-group-item {
  margin: 5px;
}
